table {
    position: fixed;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    width: max-content;
    min-width: 100vw;
    font-size: initial;
    font-family: monospace;
    tab-size: 4;
    border-spacing: 0px;
    border-color: gray;
    white-space: pre;
    margin: 0px;
    left: 0px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: baseline;
    unicode-bidi: isolate;
    padding: 0px !important;
    align-items: start;
}

.line-number {
    box-sizing: border-box;
    width: 31px;
    background-color: light-dark(rgb(240, 240, 240), rgb(60, 60, 60));
    user-select: none;
    text-align: right;
    color: light-dark(rgb(148, 132, 132), rgb(128, 128, 128));
    word-break: normal;
    font-size: 9px;
    font-family: Helvetica;
    padding: 0px 4px !important;
    border-right: 1px solid rgb(187, 187, 187) !important;
    white-space: nowrap;
    align-items: start;
}

.line-content {
    padding: 0px 5px !important;
    align-items: start;
}

.line-content span {
    margin-left: 0%;
}