.map-tab_health {
    position: fixed;
    
    color: rgba(255, 255, 255, 1);

    bottom: 0px;
    left: 0px;

    width: 400px;
    height: 200px;

    z-index: 10;

    border-top: 2px solid rgba(0, 64, 128, 1);
    border-right: 2px solid rgba(0, 64, 128, 1);

    border-top-right-radius: 15px;
}

.map-tab_health-title {
    margin: 20px;

    text-align: center;

    font-size: 50px;
}

.map-tab_health-text {
    margin: 0;

    text-align: center;

    font-size: 80px;
}

#inspector_settings-max_health {
    
}