.inspector_explorer-tree-view span {
    position: relative !important;
    top: 10px;

    margin-left: 0px;

    margin-top: 10px;
}

.inspector_explorer-tree-view-project-folder-name {
    position: relative !important;

    top: 10px !important;

    margin-top: 0px !important;
    margin-left: 5px !important;

    text-align: center;
}