.Menu-Bar {
    position: fixed;

    top: 0;
    left: 0;

    right: 280px;
    height: 30px;

    width: 100%;
    
    background: #222222;

    display: flex;

    align-items: center;

    padding: 0 8px;

    gap: 8px;

    z-index: 1200;

    user-select: none;

    box-sizing: border-box;

    border-bottom: 2px solid #000000;
}