.animation-tab {
    position: fixed;
    width: 79%;
    height: 86.5%;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-color: #444444;
    background-image:
        linear-gradient(90deg, #777777 1px, transparent 1px),
        linear-gradient(#777777 1px, transparent 1px);
    background-size: 40px 40px;
}

.animation-tab button {
    position: fixed;

    background-color: #444444;
    color: #FFFFFF;

    width: 100px;
}